@model int
<div class="order-completed-container">
    <h2>🎉 Đặt hàng thành công</h2>
    <p>Đơn hàng của bạn với ID <span class="order-id">@Model</span> đã được đặt thành công.</p>
    <a asp-action="Featured" asp-controller="Home">Trở về trang chủ</a>
</div>
