@model int

@{
    ViewBag.Title = "Đặt hàng thành công";
}

<h2>Đặt hàng thành công!</h2>
<p>Mã đơn hàng của bạn là: <b>@Model</b></p>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Về trang chủ</a>